.myModal{
  position: static;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.myModalContent{

  padding: 35px;
  background: white;
  border-radius: 16px;
  min-width: 150px;
  height: 70px;
}

.myModal.active{
  display: flex;
  justify-content: center;
  align-items: center;
}